<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<form>
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Select a Kid"[formControl]="formControl">
      <mat-option *ngFor="let kid of kids" [value]="kid">
        <small>{{kid.firstName}} {{kid.lastName}}</small>
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<div>
  <img class="kid-image" [src]="getCurrentItem().imageUrl"/>
</div>

<div class="progress">
  <p>Your progress:</p>
  <mat-progress-bar mode="determinate" [value]="getProgress()"></mat-progress-bar>
</div>
